<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_dafeilong_catch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1},{315,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,289}}</string>
                <key>sourceSize</key>
                <string>{315,289}</string>
            </dict>
            <key>qp_dafeilong_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,291},{315,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,289}}</string>
                <key>sourceSize</key>
                <string>{315,289}</string>
            </dict>
            <key>qp_dafeilong_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,581},{315,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,289}}</string>
                <key>sourceSize</key>
                <string>{315,289}</string>
            </dict>
            <key>qp_dafeilong_catch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1},{315,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,289}}</string>
                <key>sourceSize</key>
                <string>{315,289}</string>
            </dict>
            <key>qp_dafeilong_catch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,291},{315,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,289}}</string>
                <key>sourceSize</key>
                <string>{315,289}</string>
            </dict>
            <key>qp_dafeilong_catch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{315,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,289}}</string>
                <key>sourceSize</key>
                <string>{315,289}</string>
            </dict>
            <key>qp_dafeilong_catch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,871},{315,283}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{315,283}}</string>
                <key>sourceSize</key>
                <string>{315,289}</string>
            </dict>
            <key>qp_dafeilong_catch_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,581},{315,271}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{315,271}}</string>
                <key>sourceSize</key>
                <string>{315,289}</string>
            </dict>
            <key>qp_dafeilong_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1092},{292,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,268}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
            <key>qp_dafeilong_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,560},{292,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,268}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
            <key>qp_dafeilong_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,853},{292,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,268}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
            <key>qp_dafeilong_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1122},{292,266}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{292,266}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
            <key>qp_dafeilong_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,829},{292,262}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{292,262}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
            <key>qp_dafeilong_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1389},{292,258}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{292,258}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
            <key>qp_dafeilong_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1361},{292,264}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{292,264}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
            <key>qp_dafeilong_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1155},{292,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,268}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
            <key>qp_dafeilong_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,291},{292,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,268}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_dafeilong.png</string>
            <key>size</key>
            <string>{950,1648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:570ec0e78522de3f82992d9e1283e894:1/1$</string>
            <key>textureFileName</key>
            <string>qp_dafeilong.png</string>
        </dict>
    </dict>
</plist>
