<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaochouyu_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,68},{60,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{60,30}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>xiaochouyu_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{60,32}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>xiaochouyu_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,36},{60,30}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{60,30}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>xiaochouyu_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{62,30}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>xiaochouyu_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{62,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{62,28}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>xiaochouyu_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,128},{60,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{60,26}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>xiaochouyu_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{60,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{60,26}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>xiaochouyu_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,100},{60,26}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{60,26}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>xiaochouyu_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{60,26}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{60,26}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>xiaochouyu_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{62,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{62,28}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_2.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa915cfdc7370adf86a2c6e9cdab150e:1/1$</string>
            <key>textureFileName</key>
            <string>fish_2.png</string>
        </dict>
    </dict>
</plist>
