<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,24}</string>
                <key>spriteSize</key>
                <string>{410,216}</string>
                <key>spriteSourceSize</key>
                <string>{520,430}</string>
                <key>textureRect</key>
                <string>{{287,795},{410,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,8}</string>
                <key>spriteSize</key>
                <string>{406,254}</string>
                <key>spriteSourceSize</key>
                <string>{520,430}</string>
                <key>textureRect</key>
                <string>{{487,331},{406,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-29}</string>
                <key>spriteSize</key>
                <string>{384,328}</string>
                <key>spriteSourceSize</key>
                <string>{520,430}</string>
                <key>textureRect</key>
                <string>{{411,1},{384,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-18}</string>
                <key>spriteSize</key>
                <string>{376,284}</string>
                <key>spriteSourceSize</key>
                <string>{520,430}</string>
                <key>textureRect</key>
                <string>{{1,807},{376,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,15}</string>
                <key>spriteSize</key>
                <string>{414,232}</string>
                <key>spriteSourceSize</key>
                <string>{520,430}</string>
                <key>textureRect</key>
                <string>{{505,739},{414,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,24}</string>
                <key>spriteSize</key>
                <string>{444,220}</string>
                <key>spriteSourceSize</key>
                <string>{520,430}</string>
                <key>textureRect</key>
                <string>{{265,349},{444,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,3}</string>
                <key>spriteSize</key>
                <string>{456,262}</string>
                <key>spriteSourceSize</key>
                <string>{520,430}</string>
                <key>textureRect</key>
                <string>{{1,349},{456,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-40}</string>
                <key>spriteSize</key>
                <string>{408,346}</string>
                <key>spriteSourceSize</key>
                <string>{520,430}</string>
                <key>textureRect</key>
                <string>{{1,1},{408,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,20}</string>
                <key>spriteSize</key>
                <string>{416,212}</string>
                <key>spriteSourceSize</key>
                <string>{520,430}</string>
                <key>textureRect</key>
                <string>{{743,331},{416,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,23}</string>
                <key>spriteSize</key>
                <string>{410,214}</string>
                <key>spriteSourceSize</key>
                <string>{520,430}</string>
                <key>textureRect</key>
                <string>{{739,749},{410,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jinchan.png</string>
            <key>size</key>
            <string>{956,1206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f71b8136d86606d6af4285459bcb3a48:e67513a9dde9f1c0e11d5c00baed5e76:27c9bd300b2b59dce6b56c8f816493b6$</string>
            <key>textureFileName</key>
            <string>jinchan.png</string>
        </dict>
    </dict>
</plist>
