<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,89}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,89}</string>
                <key>textureRect</key>
                <string>{{86,1},{79,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,89}</string>
                <key>textureRect</key>
                <string>{{171,1},{79,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,89}</string>
                <key>textureRect</key>
                <string>{{256,1},{79,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,89}</string>
                <key>textureRect</key>
                <string>{{341,1},{79,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,89}</string>
                <key>textureRect</key>
                <string>{{1,82},{79,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,89}</string>
                <key>textureRect</key>
                <string>{{426,1},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,89}</string>
                <key>textureRect</key>
                <string>{{86,82},{79,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,89}</string>
                <key>textureRect</key>
                <string>{{169,82},{79,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,89}</string>
                <key>textureRect</key>
                <string>{{252,82},{79,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,89}</string>
                <key>textureRect</key>
                <string>{{335,82},{79,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,89}</string>
                <key>textureRect</key>
                <string>{{420,82},{79,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tuziyu_move.png</string>
            <key>size</key>
            <string>{506,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e90db30a2ce01353c758cad18847acd2:90deb4caeb8a05d57c9a3bc5f01b6784:c25b59336d10212ce17bbcb441296357$</string>
            <key>textureFileName</key>
            <string>tuziyu_move.png</string>
        </dict>
    </dict>
</plist>
